.Login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-title {
    text-align: center;
    font-size: 15vh;
}

input {
    border-radius: 50px;

}

button {
    border-radius: 50px;
    width: 10vw;
    height: 5vh;
    background-color: rgba(50, 50, 50, 0.5);
}