.Login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error {
    color: rgba(255, 0, 0, 0.705);
    font-size: 2.5vh;
    font-weight: bold;
    font-family: cursive;
}